body {
    background-color: #f9f7fe;
    font-family: "Roboto", sans-serif;
}
.weatherApp {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(65, 50, 100, 0.09);
    padding: 30px;
}

.form-search {
    width: 80%;
    background-color: #f9f7fe;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 100;
}
.form-button {
    width: 17%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #885df1;
    color: white;
    padding: 15px;
    margin-left: 10px;
}
header {
    border-bottom: solid 1px rgba(65, 50, 100, 0.07);
    padding-bottom: 30px;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.current-city h1{
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
}
.current-text {
    font-weight: 300;
    color: rgba(65, 50, 100, 0.6);
    line-height: 25px;
}
.current-text strong{
    color: #f65282;
}

.current-temp{
   

}
.temp-value{
    position: relative;
    font-size: 90px;
    font-weight: 700;
    top: 20px;
}
.temp-metrics {
    position: relative;
    font-size: 30px;
    font-weight: 100;
    top: -20px;
}
.temp-icon {
    display: inline;
    position: relative;
    font-size: 50px;
    top: 40px;

}

.weather-forecast {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px rgba(65, 50, 100, 0.07);
    padding-bottom: 30px;
}
.weather-forecast-date {
    text-align: center;
    line-height: 40px;
    color: rgba(65, 50, 100, 0.6);
    font-weight: 100;
    font-size: 16px;
}



.weather-forecast-temp {
    display: flex;
    max-width: inherit;
    justify-content: center;
    color: #f65282;


}

.forecast-temps{
    padding: 0 10px;
}

.forecast-temp-icon
{
    height: 90px;
}

footer {
    font-size: 14px;
    color: rgba(65, 50, 100, 0.6);
    text-align: center;
    padding-top: 30px;
}
    footer a {
        color: #885df1;
    }